@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf);
    font-weight: bold;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
}

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #27313fff;
}

input {
    width: 240px;
    height: 25px;
    border: 1.5px solid #E5E7EB;
    border-radius: 4px;
    outline: none;
}

input:invalid {
    border-color: rgb(226, 52, 52);
}

input:focus {
    border-color: rgb(37, 97, 250);
    box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.17);
}


a {
    text-decoration: none;
    color: #596D48;
}

.left-section {
    background-color: rgb(56, 131, 19);
    width: 35%;
}

.logo-container {    
    position: relative;
    top: 25%;

    height: 150px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.337);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo span {
    font-family: "Norse Bold";
    font-size: 80px;
    color: white;
    font-weight: bold;
}

img#logo {
    height: 90%;
    width: auto;
}

.right-section {
    width: 65%;
    background-color: #f9fafbff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
    width: 75%;
}

.inputs {
    background-color: white;
    padding: 20px 50px 20px 50px;
    box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.17);
}

.inputs > p {
    color: #27313fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    /* padding-top: 20px; */
}

.form-row {
    display: flex;
    gap: 70px;
    margin-bottom: 15px;
}

form button {
    margin-left: 50px;
    margin-top: 40px;

    border: none;
    border-radius: 8px;

    background-color: #596d48ff;
    color: white;

    font-size: 16px;
    font-weight: bold;

    width: 200px;
    height: 50px;
}

.have-account {
    padding-left: 50px;
    font-size: 18px;
}

input.invalid {
    border-color: rgb(226, 52, 52);
}

.error {
    display: block;
    color: rgb(226, 52, 52);
    font-size: 12px;
}

.hide {
    visibility: hidden;
}